<header>
    <h1>Golf Course Locator</h1>
    <nav>
        <ul>
            <!-- <li><a href="/">Home</a></li> -->
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/golf/new">Find Your Course</a></li>
            <!-- <li><a href="/applications">My Applications</a></li> -->
        </ul>
    </nav>
</header>