<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Home</title>
</head>
<body>
    <h1>Welcome To My Golf Course App!</h1>
    <p>Where you can add your last round at your local course. Save and track your scores and the different courses you have played. Edit or delete and rounds that you may not want to remember. Add as many new rounds as you'd like. Show off to your friends your scores. Enjoy!</p>
    <a href="/login">Login</a>
    <script src="/js/app.js"></script>
</body>
</html>