<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs', {title: `New Course`}) %>
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <h1>Add New Course</h1>
    <form action="/courses/" method="post">
        <label for="courseId">Course Id</label>
        <input type="number" name="courseId" id="courseId" placeholder="Enter Course Id"/>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="Enter a name"/>
        <label for="address">Address:</label>
        <input type="text" name="address" id="address" placeholder="Enter a color"/>
        <label for="difficultyLevel">Difficulty Level 1-10</label>
        <input type="number" name="difficultyLevel" id="difficultyLevel"/>
        <label for="courseRating">Course Rating 1-10</label>
        <input type="number" name="courseRating" id="courseRating"/>
        <label for="courseDescription">Course Description</label>
        <input type="text" name="courseDescription" id="courseDescription"/>
        <input type="submit" value="Add Course"/>
    </form>
    <a href=" /courses">Go back</a>

    <%- include('./partials/footer.ejs') %>
</body>
</html>